```
     _                                     ____             _       _   ____                                    
    / \   _ __ ___   __ _ _______  _ __   / ___|  ___   ___(_) __ _| | |  _ \ _ __ ___   __ _ _ __ ___  ___ ___ 
   / _ \ | '_ ` _ \ / _` |_  / _ \| '_ \  \___ \ / _ \ / __| |/ _` | | | |_) | '__/ _ \ / _` | '__/ _ \/ __/ __|
  / ___ \| | | | | | (_| |/ / (_) | | | |  ___) | (_) | (__| | (_| | | |  __/| | | (_) | (_| | | |  __/\__ \__ \
 /_/   \_\_| |_| |_|\__,_/___\___/|_| |_| |____/ \___/ \___|_|\__,_|_| |_|   |_|  \___/ \__, |_|  \___||___/___/
                                                                                        |___/                   
```


### Module
Data Preparation

### Goal
Data preparation, genereate new file from merged hotspot and SPI Amazonia dataframes.

### Tools
1. Pandas
2. Numpy

### Requirement
1. File Definition
2. Data Preparation
3. hotspot_spi.csv generated
 
### Data Source
__${WORKDIR}__/data/hotspot/**/*.csv

__${WORKDIR}__/data/spi/amazonia/detailed

In [1]:
import os
import math
import unicodedata

import glob

import datetime

from pathlib import Path

import numpy as np
import pandas as pd

## Constants

In [2]:
WORKDIR = os.path.abspath(os.getcwd())

YEARS_AVAILABLE = [2014, 2018, 2021]

BRAZILIAN_STATES = [
    { "acronym": "AC", "name": "Acre" },
    { "acronym": "AL", "name": "Alagoas" },
    { "acronym": "AP", "name": "Amapá" },
    { "acronym": "AM", "name": "Amazonas" },
    { "acronym": "BA", "name": "Bahia" },
    { "acronym": "CE", "name": "Ceará" },
    { "acronym": "DF", "name": "Distrito Federal" },
    { "acronym": "ES", "name": "Espírito Santo" },
    { "acronym": "GO", "name": "Goiás" },
    { "acronym": "MA", "name": "Maranhão" },
    { "acronym": "MT", "name": "Mato Grosso" },
    { "acronym": "MS", "name": "Mato Grosso do Sul" },
    { "acronym": "MG", "name": "Minas Gerais" },
    { "acronym": "PA", "name": "Pará" },
    { "acronym": "PB", "name": "Paraíba" },
    { "acronym": "PR", "name": "Paraná" },
    { "acronym": "PE", "name": "Pernambuco" },
    { "acronym": "PI", "name": "Piauí" },
    { "acronym": "RJ", "name": "Rio de Janeiro" },
    { "acronym": "RN", "name": "Rio Grande do Norte" },
    { "acronym": "RS", "name": "Rio Grande do Sul" },
    { "acronym": "RO", "name": "Rondônia" },
    { "acronym": "RR", "name": "Roraima" },
    { "acronym": "SC", "name": "Santa Catarina" },
    { "acronym": "SP", "name": "São Paulo" },
    { "acronym": "SE", "name": "Sergipe" },
    { "acronym": "TO", "name": "Tocantins" }
]

## Get the data

### Hotspot data

__List files used in the analysis__

In [3]:
path = ''.join([WORKDIR, "/data/hotspot/**/*"]) 
hotspot_files = glob.glob(os.path.join(path, "*.csv"))

__Load into Pandas DataFrame__

In [4]:
hotspot_df = pd.concat(map(pd.read_csv, hotspot_files))
hotspot_df.head()

,datahora,satelite,pais,estado,municipio,bioma,diasemchuva,precipitacao,riscofogo,latitude,longitude,frp
0,2018/01/01 04:06:00,NPP-375D,Brasil,MARANHAO,CURURUPU,Amazonia,0.0,0.8,0.0,-1.87136,-44.78587,NaN
1,2018/01/01 04:06:00,NPP-375D,Brasil,MARANHAO,MARACACUME,Amazonia,0.0,0.1,0.1,-1.82566,-45.88670,NaN
2,2018/01/01 04:06:00,NPP-375D,Brasil,MARANHAO,BURITICUPU,Amazonia,0.0,1.1,0.1,-4.57874,-46.38660,NaN
3,2018/01/01 04:06:00,NPP-375D,Brasil,MARANHAO,PAULO RAMOS,Amazonia,0.0,1.4,0.1,-4.59554,-45.66039,NaN
4,2018/01/01 04:06:00,NPP-375D,Brasil,MARANHAO,ARAME,Amazonia,0.0,0.4,0.3,-5.21960,-46.12886,NaN

### Amazon SPI data

![Amazon SPI Content Table](doc/images/table_contents_spi.png "Amazon SPI Content Table")

__List files used in the analysis__

In [5]:
path = ''.join([WORKDIR, "/data/spi/amazonia/detailed"])
spi_files = glob.glob(os.path.join(path, "*.csv"))

__Load into Pandas DataFrame__

In [6]:
spi_df = pd.concat(map(pd.read_csv, spi_files))
spi_df.head()

,Ano,Código IBGE,Município,Estado,IPS Amazônia,Ranking IPS,Necessidades Humanas Básicas,Fundamentos para o Bem-Estar,Oportunidades,Nutrição e cuidados médicos básicos,...,Gravidez na infância e adolescência,Trabalho Infantil,Vulnerabilidade familiar,Violência contra indígenas,Violência contra indígenas Taxa,Violência contra mulheres,Violência infantil,Violência infantil Taxa,Empregos ensino superior,Mulheres com empregos ensino superior
0,2014,1100015.0,Alta Floresta D'Oeste,RO,56.594170,197.0,60.195511,57.369340,52.217659,95.154708,...,20.234604,110.126160,18.768328,0.000000,1.0,25.768768,0.000000,1.0,11.266178,6.705130
1,2014,1100023.0,Ariquemes,RO,55.728511,264.0,59.059533,59.304304,48.821695,93.920755,...,23.497268,240.966315,22.890103,0.000000,1.0,58.752026,62.994606,3.0,20.746646,12.852421
2,2014,1100031.0,Cabixi,RO,58.915724,90.0,74.178132,54.787265,47.781775,88.092664,...,16.000000,110.304534,38.666667,0.000000,1.0,34.554250,71.326676,3.0,14.788294,9.806974
3,2014,1100049.0,Cacoal,RO,61.717654,28.0,72.691093,60.613765,51.848105,91.956107,...,16.985463,55.112064,17.521041,0.681663,2.0,26.380795,20.894275,2.0,27.450437,16.058968
4,2014,1100056.0,Cerejeiras,RO,54.593926,361.0,62.606094,62.512401,38.663282,87.810163,...,21.200000,313.969533,40.400000,0.000000,1.0,270.970782,51.813472,3.0,14.156443,8.937989

## Explore the data

### Describe the data I

__Hotspot__

In [7]:
hotspot_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
diasemchuva,16943121.0,13.348092,65.530664,-999.00000,2.00000,5.000000,20.00000,120.00
precipitacao,16943121.0,0.859245,3.598378,0.00000,0.00000,0.000000,0.10000,203.70
riscofogo,16943121.0,-5.579153,79.406999,-999.00000,0.60000,1.000000,1.00000,1.00
latitude,19706174.0,-8.260597,4.323302,-18.03900,-11.07466,-8.680406,-5.30000,5.23
longitude,19706174.0,-53.774619,6.601975,-73.93146,-58.20700,-53.091000,-48.23736,-41.80
frp,5140138.0,19.285664,56.710458,-3.70000,3.30000,7.400000,17.10000,9722.60

__Amazon SPI__

In [8]:
spi_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Ano,2319.0,2.017667e+03,2.868060e+00,2.014000e+03,2.014000e+03,2.018000e+03,2.021000e+03,2.021000e+03
Código IBGE,2316.0,2.288414e+06,1.365403e+06,1.100015e+06,1.502798e+06,1.713254e+06,2.109278e+06,5.108956e+06
IPS Amazônia,2316.0,5.456015e+01,3.811311e+00,4.359790e+01,5.192879e+01,5.430994e+01,5.680819e+01,7.441633e+01
Ranking IPS,2316.0,3.865000e+02,2.229051e+02,1.000000e+00,1.937500e+02,3.865000e+02,5.792500e+02,7.720000e+02
Necessidades Humanas Básicas,2319.0,6.437410e+01,6.825254e+00,4.337849e+01,5.969696e+01,6.432076e+01,6.887852e+01,8.712833e+01
...,...,...,...,...,...,...,...,...
Violência contra mulheres,2316.0,6.649387e+01,1.025700e+02,0.000000e+00,3.697673e+00,2.414303e+01,8.353261e+01,6.320000e+02
Violência infantil,2316.0,4.888766e+01,1.090521e+02,0.000000e+00,0.000000e+00,1.426542e+01,5.048753e+01,2.606975e+03
Violência infantil Taxa,2316.0,1.982729e+00,1.017622e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,5.000000e+00
Empregos ensino superior,2316.0,1.666922e+01,1.302646e+01,0.000000e+00,9.823585e+00,1.438967e+01,2.013205e+01,1.516212e+02
Mulheres com empregos ensino superior,2316.0,1.100286e+01,7.819571e+00,0.000000e+00,6.428517e+00,9.786056e+00,1.380451e+01,9.249025e+01

### Get information about data

__Hotspot__

In [9]:
hotspot_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19706174 entries, 0 to 318737
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   datahora      object
 1   satelite      object
 2   pais          object
 3   estado        object
 4   municipio     object
 5   bioma         object
 6   diasemchuva   float64
 7   precipitacao  float64
 8   riscofogo     float64
 9   latitude      float64
 10  longitude     float64
 11  frp           float64
dtypes: float64(6), object(6)
memory usage: 1.9+ GB

__Amazon SPI__

In [10]:
spi_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2319 entries, 0 to 772
Data columns (total 70 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Ano                                            2319 non-null   int64
 1   Código IBGE                                    2316 non-null   float64
 2   Município                                      2316 non-null   object
 3   Estado                                         2316 non-null   object
 4   IPS Amazônia                                   2316 non-null   float64
 5   Ranking IPS                                    2316 non-null   float64
 6   Necessidades Humanas Básicas                   2319 non-null   float64
 7   Fundamentos para o Bem-Estar                   2319 non-null   float64
 8   Oportunidades                                  2319 non-null   float64
 9   Nutrição e cuidados médicos básicos            2319 non-null   float64
 10  Água e saneamento                              2319 non-null   float64
 11  Moradia                                        2319 non-null   float64
 12  Segurança pessoal                              2319 non-null   float64
 13  Acesso ao conhecimento básico                  2319 non-null   float64
 14  Acesso à informação e comunicação              2319 non-null   float64
 15  Saúde e bem-estar                              2319 non-null   float64
 16  Qualidade do meio ambiente                     2319 non-null   float64
 17  Direitos individuais                           2319 non-null   float64
 18  Liberdade individual e de escolha              2319 non-null   float64
 19  Tolerância e inclusão                          2319 non-null   float64
 20  Acesso à educação superior                     2319 non-null   float64
 21  Mortalidade infantil até 5 anos                2316 non-null   float64
 22  Mortalidade materna                            2316 non-null   float64
 23  Mortalidade por desnutrição                    2316 non-null   float64
 24  Mortalidade por doenças infecciosas            2316 non-null   float64
 25  Subnutrição                                    2316 non-null   float64
 26  Abastecimento de água                          2316 non-null   float64
 27  Esgotamento sanitário                          2316 non-null   float64
 28  Índice de atendimento de agua                  2316 non-null   float64
 29  Coleta de lixo                                 2316 non-null   float64
 30  Moradias com iluminação adequada               2316 non-null   float64
 31  Moradias com parede adequada                   2316 non-null   float64
 32  Moradias com piso adequado                     2316 non-null   float64
 33  Assassinatos de jovens                         2316 non-null   float64
 34  Assassinatos de jovens Taxa                    2316 non-null   float64
 35  Homicídios                                     2316 non-null   float64
 36  Homicídios Taxa                                2316 non-null   float64
 37  Mortes por acidente no trânsito                2316 non-null   float64
 38  Abandono escolar ensino fundamental            2316 non-null   float64
 39  Distorção idade-série ensino fundamental       2316 non-null   float64
 40  Distorção idade-série ensino médio             2316 non-null   float64
 41  Qualidade da educação Ideb ensino fundamental  2316 non-null   float64
 42  Reprovação escolar ensino fundamental          2316 non-null   float64
 43  Densidade internet banda-larga                 2316 non-null   float64
 44  Densidade telefonia fixa                       2316 non-null   float64
 45  Densidade telefonia movel                      2316 non-null   float64
 46  Densidade TV por assinatura                    2316 non-null   float64
 47  Mortalidade por diabetes mellitus              2316 non-null   float64
 48  Mortalidade por câncer                         2316 non-null   float64
 49  Mortalidade por doenças circulatórias          2316 non-null   float64
 50  Mortalidade por doenças respiratórias          2316 non-null   float64
 51  Mortalidade por suicídios                      2316 non-null   float64
 52  Áreas Protegidas                               2316 non-null   float64
 53  Desmatamento acumulado                         2316 non-null   float64
 54  Desmatamento recente                           2316 non-null   float64
 55  Emissões CO2                                   2316 non-null   float64
 56  Focos de calor por habitantes                  2316 non-null   float64
 57  Diversidade Partidária                         2316 non-null   float64
 58  Transporte Público                             2316 non-null   float64
 59  Acesso à cultura, esporte e lazer              2316 non-null   float64
 60  Gravidez na infância e adolescência            2316 non-null   float64
 61  Trabalho Infantil                              2316 non-null   float64
 62  Vulnerabilidade familiar                       2316 non-null   float64
 63  Violência contra indígenas                     2316 non-null   float64
 64  Violência contra indígenas Taxa                2316 non-null   float64
 65  Violência contra mulheres                      2316 non-null   float64
 66  Violência infantil                             2316 non-null   float64
 67  Violência infantil Taxa                        2316 non-null   float64
 68  Empregos ensino superior                       2316 non-null   float64
 69  Mulheres com empregos ensino superior          2316 non-null   float64
dtypes: float64(67), int64(1), object(2)
memory usage: 1.3+ MB

### Percentage of missing data

In [11]:
def get_pct_missing_data(dataset):
    """
    Get Percentage of missing data
    
    Attributes
    ----------
    dataset : Pandas DataFrame
    """
    total = dataset.isnull().sum().sort_values(ascending=False)
    percent = dataset.isnull().sum() / dataset.isnull().count() * 100
    percent = (round(percent, 4)).sort_values(ascending=False)

    missing_data = pd.concat([total, percent], keys=["Total", '%'], axis=1)

    return missing_data

__Hotspot__

In [12]:
get_pct_missing_data(hotspot_df)

                 Total        %
frp           14566036  73.9161
diasemchuva    2763053  14.0213
precipitacao   2763053  14.0213
riscofogo      2763053  14.0213
datahora             0   0.0000
satelite             0   0.0000
pais                 0   0.0000
estado               0   0.0000
municipio            0   0.0000
bioma                0   0.0000
latitude             0   0.0000
longitude            0   0.0000

__Amazon SPI__

In [13]:
get_pct_missing_data(spi_df)

                                       Total       %
Homicídios                                 3  0.1294
Densidade telefonia fixa                   3  0.1294
Mortalidade por doenças respiratórias      3  0.1294
Mortalidade por doenças circulatórias      3  0.1294
Mortalidade por câncer                     3  0.1294
...                                      ...     ...
Qualidade do meio ambiente                 0  0.0000
Liberdade individual e de escolha          0  0.0000
Tolerância e inclusão                      0  0.0000
Acesso à educação superior                 0  0.0000
Ano                                        0  0.0000

[70 rows x 2 columns]

## Prepare the data

### Standardize Country State Names

The feature __estado__ in the two datasets are diffenrents. In _hotspot_df_ the name of state is long and spi_df is short.

__Amazon SPI__

In [14]:
def get_full_name_state(acronym):
    """
    Retrieves the long name of state related to acronym.
    """
    lnames = [x.get('name') for x in BRAZILIAN_STATES if x.get('acronym') == acronym]
    return lnames[0] if lnames else np.nan


def purge_spec_chars(word):
    """
    Remove all special characters in the word.
    """
    wv = word if word is not np.nan else ""
    nfkd_form = unicodedata.normalize("NFKD", wv) 
    return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])

In [15]:
# Get full name of state
spi_df["Estado"] = spi_df["Estado"].apply(get_full_name_state)

# Remove special characteres
spi_df["Estado"] = spi_df["Estado"].apply(purge_spec_chars)

# Capitalize the name
spi_df["Estado"] = spi_df["Estado"].apply(lambda x: x.upper())

### Standardize Cities Names

The feature __municipio__ in the two datasets are diffenrents.

In [16]:
# Remove special characteres
spi_df["Município"] = spi_df["Município"].apply(purge_spec_chars)

# Capitalize the name
spi_df["Município"] = spi_df["Município"].apply(lambda x: x.upper())

#### Some city names are written incorrectly. In this section I will fix it with the correct form

__hotspot__

In [17]:
hotspot_df.loc[(hotspot_df["municipio"] == "ELDORADO DO CARAJAS"), "municipio"] = "ELDORADO DOS CARAJAS"

__Amazon SPI__

In [18]:
# spi_df.loc[spi_df["Município"] == "BARREIRINHA", "Município"] = "BARREIRINHAS"

# Acre
spi_df.loc[spi_df["Município"] == "RIO BRANCO (ACRE)", "Município"] = "RIO BRANCO"

# Maranhão
spi_df.loc[spi_df["Município"] == "ARAGUANA (MARANHAO)", "Município"] = "ARAGUANA"
spi_df.loc[spi_df["Município"] == "PRESIDENTE MEDICI (MARANHAO)", "Município"] = "PRESIDENTE MEDICI"

# Mato Grosso
spi_df.loc[spi_df["Município"] == "POXOREO", "Município"] = "POXOREU"
spi_df.loc[spi_df["Município"] == "RIO BRANCO (MATO GROSSO)", "Município"] = "RIO BRANCO"

# Rondonia
spi_df.loc[spi_df["Município"] == "PRESIDENTE MEDICI (RONDONIA)", "Município"] = "PRESIDENTE MEDICI"

# Pará
spi_df.loc[spi_df["Município"] == "BOM JESUS DO TOCANTINS (PARA)", "Município"] = "BOM JESUS DO TOCANTINS"
spi_df.loc[spi_df["Município"] == "SANTA ISABEL DO PARA", "Município"] = "SANTA IZABEL DO PARA"

# Tocantins
spi_df.loc[spi_df["Município"] == "ARAGUANA (TOCANTINS)", "Município"] = "ARAGUANA"
spi_df.loc[spi_df["Município"] == "BOM JESUS DO TOCANTINS (TOCANTINS)", "Município"] = "BOM JESUS DO TOCANTINS"
spi_df.loc[spi_df["Município"] == "COUTO DE MAGALHAES", "Município"] = "COUTO MAGALHAES"
spi_df.loc[spi_df["Município"] == "SAO VALERIO DA NATIVIDADE", "Município"] = "SAO VALERIO"

#### Shows the difference between the number of cities in the two datasets

In [19]:
hotspot_regions = hotspot_df.groupby(['municipio', 'estado'])
spi_region = spi_df.groupby(['Município', 'Estado'])

n_hr = len(hotspot_regions)
n_sr = len(spi_region)

dic_cities = set(hotspot_regions.groups.keys()) ^ set(spi_region.groups.keys())

print("hotspot_df has {} cities and spi_df has {}. The Difference is {}.".format(n_hr, n_sr, (n_hr - n_sr)))
print("---------------------------------------------------------------------------------------------------")
print("Cities not found:\n{}".format(dic_cities))

hotspot_df has 808 cities and spi_df has 773. The Difference is 35.
---------------------------------------------------------------------------------------------------
Cities not found:
{('AFONSO CUNHA', 'MARANHAO'), ('', ''), ('COELHO NETO', 'MARANHAO'), ('ALDEIAS ALTAS', 'MARANHAO'), ('SAO BERNARDO', 'MARANHAO'), ('SUCUPIRA DO RIACHAO', 'MARANHAO'), ('CHAPADINHA', 'MARANHAO'), ('SAO JOAO DOS PATOS', 'MARANHAO'), ('MATOES', 'MARANHAO'), ('BARREIRINHAS', 'MARANHAO'), ('PASSAGEM FRANCA', 'MARANHAO'), ('MILAGRES DO MARANHAO', 'MARANHAO'), ('CAXIAS', 'MARANHAO'), ('URBANO SANTOS', 'MARANHAO'), ('MAGALHAES DE ALMEIDA', 'MARANHAO'), ('NINA RODRIGUES', 'MARANHAO'), ('PARNARAMA', 'MARANHAO'), ('HUMBERTO DE CAMPOS', 'MARANHAO'), ('PAULINO NEVES', 'MARANHAO'), ('AGUA DOCE DO MARANHAO', 'MARANHAO'), ('SANTO AMARO DO MARANHAO', 'MARANHAO'), ('SANTANA DO MARANHAO', 'MARANHAO'), ('ARAIOSES', 'MARANHAO'), ('BARAO DE GRAJAU', 'MARANHAO'), ('BURITI', 'MARANHAO'), ('BELAGUA', 'MARANHAO'), ('TUTOIA', 'MARANHAO'), ('SAO FRANCISCO DO MARANHAO', 'MARANHAO'), ('SAO BENEDITO DO RIO PRETO', 'MARANHAO'), ('DUQUE BACELAR', 'MARANHAO'), ('TIMON', 'MARANHAO'), ('MATA ROMA', 'MARANHAO'), ('BREJO', 'MARANHAO'), ('LAGOA DO MATO', 'MARANHAO'), ('PRIMEIRA CRUZ', 'MARANHAO'), ('ANAPURUS', 'MARANHAO'), ('SANTA QUITERIA DO MARANHAO', 'MARANHAO')}

In [20]:
dic_cities_df = pd.DataFrame(dic_cities, columns=["municipio", "estado"])
dic_cities_df = dic_cities_df.dropna()

for index, row in dic_cities_df.iterrows():
    hotspot_df = hotspot_df.drop(hotspot_df[(hotspot_df.municipio == row.municipio) & (hotspot_df.estado == row.estado)].index)

### Parse datehour of string to date

__Hotspot__

In [21]:
hotspot_df['datahora'] = pd.to_datetime(hotspot_df['datahora'], format='%Y/%m/%d %H:%M:%S')

### Add features

__Hotspot__

In [22]:
hotspot_df["ano"] = pd.DatetimeIndex(hotspot_df['datahora']).year

__Amazon SPI__

In [23]:
mean_spi = spi_df.groupby("Ano")["IPS Amazônia"].transform("mean").rename("Media IPS")
spi_df = pd.concat([spi_df, mean_spi], axis=1)

### Fix or remove outliers (optional)

__Hotspot__

In [24]:
hotspot_df.loc[hotspot_df["riscofogo"] < 0, "riscofogo"] = 0
hotspot_df.loc[hotspot_df["diasemchuva"] < 0, "diasemchuva"] = 0
hotspot_df.loc[hotspot_df["frp"] < 0, "frp"] = 0

__Amazon SPI__

In [25]:
spi_df.dropna(subset=["Município", "Estado", "IPS Amazônia"], inplace=True)

### Fill in missing values (e.g., with zero, mean, median...) or drop their rows (or columns)

__Hotspot__

In [26]:
hotspot_df["frp"].fillna(value=0, inplace=True)
hotspot_df["riscofogo"].fillna(value=0, inplace=True)
hotspot_df["diasemchuva"].fillna(value=0, inplace=True)
hotspot_df["precipitacao"].fillna(value=0, inplace=True)

### Drop columns not used

__Hotspot__

In [27]:
hotspot_df = hotspot_df.drop(columns=["datahora", "satelite", "pais", "bioma", "latitude", "longitude"])
hotspot_df.head()

,estado,municipio,diasemchuva,precipitacao,riscofogo,frp,ano
3,MARANHAO,PAULO RAMOS,0.0,1.4,0.1,0.0,2018
11,MARANHAO,BURITICUPU,0.0,1.1,0.3,0.0,2018
16,MARANHAO,BACURI,0.0,0.0,0.0,11.0,2018
17,MARANHAO,PEDRO DO ROSARIO,0.0,0.4,0.2,14.2,2018
19,MARANHAO,ANAJATUBA,0.0,0.8,0.1,65.5,2018

__Amazon SPI__

In [28]:
spi_df.drop("Código IBGE", axis=1, inplace=True)

# spi_df = spi_df[[
#     "Ano", "Município","Estado","Ranking IPS","IPS Amazônia","Media IPS",
#     "Necessidades Humanas Básicas", "Fundamentos para o Bem-Estar","Oportunidades", # 3 Dimensions
#     "Nutrição e cuidados médicos básicos","Água e saneamento","Moradia","Segurança pessoal", # Necessidades Humanas Básicas components
#     "Acesso ao conhecimento básico", "Acesso à informação e comunicação","Saúde e bem-estar","Qualidade do meio ambiente", # Fundamentos para o Bem-Estar components
#     "Direitos individuais","Liberdade individual e de escolha","Tolerância e inclusão","Acesso à educação superior" # Oportunidades components
# ]]
# spi_df.head()

### Rearrange columns pandas

__Amazon SPI__

In [29]:
column = spi_df.pop('Media IPS')
spi_df.insert(4, ' ', column)

### Describe the data II

__Hotspot__

In [30]:
hotspot_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
diasemchuva,6759109.0,15.546962,27.767763,0.0,0.0,4.0,14.0,120.0
precipitacao,6759109.0,0.977803,4.046112,0.0,0.0,0.0,0.2,203.7
riscofogo,6759109.0,0.651073,0.403029,0.0,0.2,0.9,1.0,1.0
frp,6759109.0,5.735754,32.560079,0.0,0.0,0.0,2.0,9722.6
ano,6759109.0,2018.171407,2.608099,2012.0,2017.0,2019.0,2020.0,2021.0

In [31]:
get_pct_missing_data(hotspot_df)

              Total    %
estado            0  0.0
municipio         0  0.0
diasemchuva       0  0.0
precipitacao      0  0.0
riscofogo         0  0.0
frp               0  0.0
ano               0  0.0

__Amazon SPI__

In [32]:
spi_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Ano,2316.0,2017.666667,2.868061,2014.000000,2014.000000,2018.000000,2021.000000,2021.000000
IPS Amazônia,2316.0,54.560151,3.811311,43.597897,51.928793,54.309938,56.808190,74.416331
,2316.0,54.560151,0.079848,54.451731,54.451731,54.587100,54.641623,54.641623
Ranking IPS,2316.0,386.500000,222.905145,1.000000,193.750000,386.500000,579.250000,772.000000
Necessidades Humanas Básicas,2316.0,64.382508,6.825672,43.378488,59.720342,64.323796,68.882983,87.128332
...,...,...,...,...,...,...,...,...
Violência contra mulheres,2316.0,66.493866,102.569963,0.000000,3.697673,24.143034,83.532610,632.000000
Violência infantil,2316.0,48.887655,109.052133,0.000000,0.000000,14.265421,50.487528,2606.974668
Violência infantil Taxa,2316.0,1.982729,1.017622,1.000000,1.000000,2.000000,3.000000,5.000000
Empregos ensino superior,2316.0,16.669222,13.026461,0.000000,9.823585,14.389667,20.132051,151.621238
Mulheres com empregos ensino superior,2316.0,11.002858,7.819571,0.000000,6.428517,9.786056,13.804515,92.490245

In [33]:
get_pct_missing_data(spi_df)

                                       Total    %
Ano                                        0  0.0
Densidade telefonia fixa                   0  0.0
Mortalidade por doenças respiratórias      0  0.0
Mortalidade por doenças circulatórias      0  0.0
Mortalidade por câncer                     0  0.0
...                                      ...  ...
Coleta de lixo                             0  0.0
Moradias com iluminação adequada           0  0.0
Moradias com parede adequada               0  0.0
Moradias com piso adequado                 0  0.0
Mulheres com empregos ensino superior      0  0.0

[70 rows x 2 columns]

### Data Transform

__hotspot__

In [34]:
hotspot_df.loc[hotspot_df.ano < 2014, "ano"] = 2014
hotspot_df.loc[(hotspot_df.ano > 2014) & (hotspot_df.ano < 2018), "ano"] = 2018
hotspot_df.loc[(hotspot_df.ano > 2018) & (hotspot_df.ano < 2021), "ano"] = 2021

#### Create _fococalor_ feature

__fococalor__: Hotspot is any temperature recorded above 47°C. It is not necessarily a fire spot or fire.

In [35]:
hotspot_size = hotspot_df.groupby(["ano", "estado", "municipio"]).size()
hotspot_size = hotspot_size.reset_index(name="fococalor")
hotspot_size

       ano     estado       municipio  fococalor
0     2014       ACRE      ACRELANDIA        441
1     2014       ACRE    ASSIS BRASIL        327
2     2014       ACRE       BRASILEIA       1120
3     2014       ACRE          BUJARI        339
4     2014       ACRE        CAPIXABA        455
...    ...        ...             ...        ...
2311  2021  TOCANTINS  TOCANTINOPOLIS        799
2312  2021  TOCANTINS        TUPIRAMA        180
2313  2021  TOCANTINS      TUPIRATINS        690
2314  2021  TOCANTINS    WANDERLANDIA        622
2315  2021  TOCANTINS         XAMBIOA        257

[2316 rows x 4 columns]

#### Getting anual mean of each cities by years

In [36]:
hotspot_df = hotspot_df.groupby(["ano", "estado", "municipio"]).mean()
hotspot_df = hotspot_df.reset_index()

#### Add fococalor to hotspot_df

In [37]:
hotspot_df["fococalor"] = hotspot_size["fococalor"]

#### Add categorical feature called "riscofogocat" that represents a calculated risk based on formula below:

_formula_

$$ y_a = \left(\frac{k_i}{\sum_{i=1}^{N} k} \right) |(d_i - p_i) r_i | * (f_i + 0.01) $$

$$ y_a = \left(\frac{k_i}{\sum_{i=1}^{N} k} \right) * \frac{d_i}{p_i + 0.01} r_i + (f_i + 0.01) $$

$$ y_a = k_i * (r_i + 0.01) $$




```
where:

a = year 
i = index of a row;
k = fococalor;
d = diasemchuva;
p = precipitacao;
r = riscofogo;
f = frp
```

__Categories__: __MUITO_ALTO__, __ALTO__, __MODERADO__, __BAIXO__, __MUITO_BAIXO__

In [38]:
def add_riskfirecat(dataset, labels=None):
    for year in YEARS_AVAILABLE:
        ds = dataset[dataset.ano == year]
        
        sum_hotspot = ds.fococalor.sum()
        fire_index = np.multiply(np.divide(ds.diasemchuva, (ds.precipitacao + 0.01)), ds.riscofogo) + (ds.frp)
        result = np.multiply(ds.fococalor, (ds.riscofogo + 0.01))
        
        
        dataset.loc[dataset.ano == year, "indicadorisco"] = result
        
        # categories = pd.qcut(result, [0, .15, .3, .6, .9, 1], labels=labels)
        # dataset.loc[dataset.ano == year, "riscofogocat"] = categories

add_riskfirecat(hotspot_df, ["MUITO_BAIXO", "BAIXO", "MODERADO", "ALTO", "MUITO_ALTO"])

In [39]:
hotspot_df[hotspot_df.ano == 2014].sort_values("indicadorisco", ascending=False)

,ano,estado,municipio,diasemchuva,precipitacao,riscofogo,frp,fococalor,indicadorisco
429,2014,PARA,ALTAMIRA,3.326869,0.211203,0.385668,0.0,14541,5753.41
501,2014,PARA,NOVO PROGRESSO,3.229536,0.258216,0.429818,0.0,8173,3594.63
169,2014,MARANHAO,GRAJAU,5.665557,0.022623,0.313348,0.0,10211,3301.71
541,2014,PARA,SAO FELIX DO XINGU,3.482457,0.403559,0.261893,0.0,11885,3231.45
323,2014,MATO GROSSO,FELIZ NATAL,3.910519,0.334180,0.375874,0.0,7320,2824.60
...,...,...,...,...,...,...,...,...,...
69,2014,AMAZONAS,JAPURA,0.340000,0.860000,0.004000,0.0,50,0.70
324,2014,MATO GROSSO,FIGUEIROPOLIS D'OESTE,0.150000,0.090000,0.010000,0.0,20,0.40
293,2014,MATO GROSSO,ARENAPOLIS,0.000000,0.000000,0.000000,0.0,18,0.18
431,2014,PARA,ANANINDEUA,0.000000,0.000000,0.000000,0.0,13,0.13
490,2014,PARA,MARITUBA,0.000000,0.000000,0.000000,0.0,2,0.02

In [40]:
output = pd.merge(hotspot_df, spi_df, left_on=["ano","estado", "municipio"], right_on=["Ano", "Estado", "Município"])

In [41]:
output = output.drop(["Ano", "Município", "Estado"], axis=1)

### Parsing and rounding double values

In [42]:
output = output.round(2)
output = output.round({"diasemchuva":1})
output = output.astype({"Ranking IPS":"int"})

In [43]:
output

,ano,estado,municipio,diasemchuva,precipitacao,riscofogo,frp,fococalor,indicadorisco,IPS Amazônia,...,Gravidez na infância e adolescência,Trabalho Infantil,Vulnerabilidade familiar,Violência contra indígenas,Violência contra indígenas Taxa,Violência contra mulheres,Violência infantil,Violência infantil Taxa,Empregos ensino superior,Mulheres com empregos ensino superior
0,2014,ACRE,ACRELANDIA,0.9,0.38,0.23,0.00,441,106.21,54.64,...,26.77,288.91,12.27,0.00,1.0,29.60,22.32,2.0,13.81,7.35
1,2014,ACRE,ASSIS BRASIL,1.7,0.46,0.15,0.00,327,52.17,53.48,...,36.22,201.25,17.35,1.88,2.0,58.91,80.48,3.0,8.17,4.54
2,2014,ACRE,BRASILEIA,1.4,0.36,0.19,0.00,1120,222.50,50.05,...,31.08,144.83,20.11,40.00,5.0,300.00,683.19,5.0,9.97,6.59
3,2014,ACRE,BUJARI,0.8,0.36,0.12,0.00,339,44.49,54.02,...,34.30,824.47,16.12,0.00,1.0,45.11,32.66,2.0,12.97,9.16
4,2014,ACRE,CAPIXABA,0.8,0.10,0.08,0.00,455,42.85,53.15,...,32.05,172.42,26.07,0.00,1.0,0.00,0.00,1.0,11.60,7.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2311,2021,TOCANTINS,TOCANTINOPOLIS,23.2,0.32,0.85,9.03,799,687.79,53.76,...,25.06,19.09,58.55,16.50,4.0,632.00,433.17,5.0,15.30,11.06
2312,2021,TOCANTINS,TUPIRAMA,39.5,0.94,0.81,7.53,180,146.80,53.14,...,30.77,9.64,53.85,0.00,1.0,148.61,141.85,4.0,20.10,14.28
2313,2021,TOCANTINS,TUPIRATINS,43.5,0.41,0.89,9.99,690,620.00,60.37,...,32.14,3.05,28.57,0.00,1.0,159.21,0.00,1.0,19.09,15.72
2314,2021,TOCANTINS,WANDERLANDIA,17.7,0.42,0.80,4.85,622,504.02,54.31,...,27.59,11.80,81.03,0.00,1.0,0.00,24.26,2.0,15.15,12.15
2315,2021,TOCANTINS,XAMBIOA,19.9,0.41,0.87,10.49,257,227.07,53.46,...,22.00,5.02,50.50,0.00,1.0,59.89,96.33,3.0,14.73,8.49

### Save data in a csv file

In [44]:
path = Path(f"{WORKDIR}/data/output/hotspot_spi.csv")
         
path.parent.mkdir(parents=True, exist_ok=True)
output.to_csv(path, index=False)